.container-service{
    height: 100px;
    display: flex;
    justify-content: center;
}
.container-title{
    display: flex;
    align-items: end;
    background: transparent;
    .title{
        font-size: 25px;
        font-weight: 500;
    }
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
    padding: 0 10px;
}

.singleCard{
    background-color: white;
    max-width: 250px;
    height: 150px;
    border-radius: 0.7rem;
    padding: 10px 10px;
    box-shadow: 7px 7px 7px var(--text-color);
}
.card-head{
    background: transparent;
    display: flex;
    .card-icon{
        display: flex;
        color: red;
        font-size: 30px;
        width: fit-content;
        height: fit-content;
        align-items: start;
        background: transparent;
    }
    .cardtitle{
        display: flex;
        align-items: center;
        font-weight: 500;
        width: 100%;
        margin-left: -30px;
        justify-content: center;
        background: transparent;
    }   
}
.summary{
    background:transparent;
    padding: 10px;
    text-align: justify;
    font-size: 15px;
}
