*{
    background-color: var(--container-color);
}
:root{
    --first-color : hsl(271,76%,53%);
    --title-color : hsl(0,0%,40%);
    --text-color : hsl(0,0%,60%);
    --body-color : hsl(0,0%,100%);
    --container-color : rgb(237, 237, 240);
    --border-color : hsl(0,0%,87%);
    --text-white : #fff;
}

.message-container{
    position: fixed;
    bottom: 20px; /* Adjust the bottom margin as needed */
    right: 40px; /* Adjust the right margin as needed */
    z-index: 1;
    border-radius: 50%;
}